* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

nav{
width: 100%;
background: #0a3d62;
padding: 15px 40px;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
left: 0;
z-index: 100;
}

nav h1 {
color: #fff;
font-size: 30px;
font-weight: bold;
}

nav ul {
display: flex;
list-style: none;
gap: 25px;
}

nav ul li a{
text-decoration: none;
color: #dfe6e9;
font-size: 20px;
transition: 0.3s;
}

nav ul li a:hover,
nav #logoutBtn:hover {
color: #74b9ff;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  margin-top: 200px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.course-header h1 {
  margin-bottom: 10px;
}

.meta span {
  margin-right: 15px;
  font-size: 14px;
  color: #555;
}

.course-body {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.course-left {
  flex: 2;
}

.course-right {
  flex: 1;
  background: #f1f2f6;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

#video-box iframe {
  width: 100%;
  height: 315px;
  margin-top: 20px;
  border-radius: 8px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-success {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

/*footer*/
footer {
    text-align: center;
    padding: 20px;
    background: #0a3d62;
    color: white;
}