* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
background: #f7f9fc;
color: #222;
font-family: Arial, sans-serif;
line-height: 1.6;
}

/*nav bar*/
nav{
width: 100%;
background: #0a3d62;
padding: 15px 40px;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
left: 0;
z-index: 100;
}

nav h1 {
color: #fff;
font-size: 30px;
font-weight: bold;
}

nav ul {
display: flex;
list-style: none;
gap: 25px;
}

nav ul li a{
text-decoration: none;
color: #dfe6e9;
font-size: 20px;
transition: 0.3s;
}

nav ul li a:hover,
nav #logoutBtn:hover {
color: #74b9ff;
}

#logoutBtn {
background: transparent;
border: none;
cursor: pointer;
outline: none;
font-family: inherit;
text-decoration: none;
color: #dfe6e9;
font-size: 20px;
transition: 0.3s;
padding: 4px 1px;
margin-left: -25px;
}

/*header*/
.header {
width: 100%;
height: 80vh;
background: linear-gradient(to right, #0a3d62d3, #1e90ffd3),
            url("https://images.unsplash.com/photo-1555066931-4365d14bab8c");
background-size: cover;
background-position: center;
padding-top: 150px;
text-align: center;
color: white;
}

header h2 {
font-size: 40px;
margin-bottom: 10px;
font-weight: bold;
}

.header .btn {
    display: inline-block;
    padding: 12px 28px;
    background: #74b9ff;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 600;
}

.header .btn:hover {
    background: white;
    color: #0a3d62;
}

header p {
    font-size: 20px;
    margin-bottom: 30px;
}

/* SECTIONS */
.section {
  padding: 60px 40px;
}

.section.gray {
  background: #f5f6fa;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* COURSES */
.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.course-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.course-card img {
  width: 100%;
  border-radius: 8px;
}

.course-card h3 {
  margin: 10px 0;
}

/* CATEGORIES */
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.category-card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

/* FEATURES */
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.feature-card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
}

/* PATH */
.path {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* CTA */
.cta {
  background: #1e90ff;
  color: white;
  text-align: center;
  padding: 60px 20px;
}
.cta .btn {
    background: white;
    color: #1e90ff;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}
/*footer*/
footer {
    text-align: center;
    padding: 20px;
    background: #0a3d62;
    color: white;
}